<%- include('partials/header') -%>
<main>
    <h5>Name: <%= user.name%></h5>
    <h5>Email: <%= user.email%></h5>
    <h5>Mobile Number: <%= user.mobile%></h5>
    <h5>Avatar: <img class="user-img" src="<%= user.avatar%>" alt="<%= user.name%>"></h5>
    <a href="/product/add">Add New Product</a>
     <a href="/users/logout">Logout Profile</a>       
</main>
<%- include('partials/footer') -%>