<%- include('partials/header') -%>
<main>
    <section class="cart-container">
        <div>
            <div class="flashes">
                <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 5000); </script>
                <% if (alerts.error) { %>
                    <% alerts.error.forEach(function(msg) { %>
                    <div class="alert alert-error "><%= msg %></div>
                    <% }); %>
                <% } %>
                <% if (alerts.success) { %>
                    <% alerts.success.forEach(function(msg) { %>
                    <div class="alert alert-success"><%= msg %></div>
                    <% }); %>
                <% } %>
            </div>    
            <% if(!cart) { %>
                <div class="empty-cart">
                    <h1 class="my-cart-title">My Cart</h1>
                    <div class="center">
                        <img src="/images/emptycart.png" alt="">   
                        <h3>Your Cart is Empty</h3>
                        <h5>Add Item to it now.</h5>
                        <button class="shop-now-btn"><a href="/">Shop Now</a></button>
                    </div>
                </div>    
            <% } else { %> 
                <% cart.items.forEach(el => { %>
                    <h1>Name<%= el.productId.name %></h1>
                    <h1>Price<%= el.productId.price %></h1>
                    <a href="">--</a><input type="text" name="quantity" id="" value="<%= el.quantity %>">
                    <a href="">++</a>
                    <a href="<%= el.id %>/cart/delete">Remove From Cart</a>
                    <% }) %>
            <% } %>    
        </div>
    </section>
</main>
<%- include('partials/footer') -%>