<%- include('partials/header') -%>
<main>
    <section class="cart-container">
        <div>
            <div class="flashes">
                <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 5000); </script>
                <% if (alerts.error) { %>
                    <% alerts.error.forEach(function(msg) { %>
                    <div class="alert alert-error "><%= msg %></div>
                    <% }); %>
                <% } %>
                <% if (alerts.success) { %>
                    <% alerts.success.forEach(function(msg) { %>
                    <div class="alert alert-success"><%= msg %></div>
                    <% }); %>
                <% } %>
            </div>    
            <% if(cart.items.length == 0) { %>
                <div class="empty-cart">
                    <h1 class="my-cart-title">My Cart</h1>
                    <div class="center">
                        <img src="/images/emptycart.png" alt="">   
                        <h3>Your Cart is Empty</h3>
                        <h5>Add Item to it now.</h5>
                        <button class="shop-now-btn"><a href="/">Shop Now</a></button>
                    </div>
                </div>    
            <% } else { %> 
                <div class="cart">
                    <h1 class="my-cart-title center">My Cart</h1>
                    <% cart.items.forEach(el => { %>
                            <form class="single-cart-item" action="/users/item/<%= el.id %>/update" method="POST">
                                <h1><%= el.productId.name %></h1>
                                <h1 class="item-price">Amount - <%= el.productId.price * el.quantity %> </h1>
                                <span>Quantity</span>
                                <a href="/users/item/<%= el.id %>/decrease"><i class="fas fa-minus"></i></a>
                                <input type="text" name="quantity" id="" value="<%= el.quantity %>">
                                <a href="/users/item/<%= el.id %>/increase"><i class="fas fa-plus"></i></a>
                                <a class="remove-item" href="/users/item/<%= el.id %>/delete">Remove</a>
                                <input type="submit" value="Update">
                            </form>    
                    <% }) %>
                    <h4>Total Amount - <%= totalAmount %></h4>
                    <a href="/users/cart/checkout">
                        <button class="checkout-btn">Checkout</button>
                    </a>
                </div>
            <% } %>    
        </div>
    </section>
</main>
<%- include('partials/footer') -%>