<%- include('partials/header') -%>
<main>
  <div class="error-sec">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>    
  </div>
</main>
<%- include('partials/footer') -%>