<%- include('partials/header') -%>
<main>
  <section class="project-container carousel">
    <h1 class="index-heading">Welcome to Shopping Cart</h1>
    <div class="project-card">  
    <% if(allproduct.length > 0) { %>
      <% allproduct.forEach(elem => { %>
        <div class="single-project-card">
          <h2><%= elem.name %></h2>
          <img src="<%= elem.images %>" alt="<%= elem.name %>">
          <h3>₹ <%= elem.price %></h3>
          <h4><%= elem.description %></h4>    
          <p><%= elem.warranty %></p>  
          <a class="add-to-cart" href="">Add to Cart</a>
        </div>
      <% }) %>
    <% } %> 
    </div>
  </section>

</main>
<%- include('partials/footer') -%>