<%- include('partials/header') -%>
<div class="flashes">
    <script type="text/javascript">window.setTimeout("document.querySelector('.flashes').style.display='none';", 5000); </script>
    <% if (alerts.error) { %>
        <% alerts.error.forEach(function(msg) { %>
        <div class="alert alert-error "><%= msg %></div>
        <% }); %>
    <% } %>
    <% if (alerts.success) { %>
        <% alerts.success.forEach(function(msg) { %>
        <div class="alert alert-success"><%= msg %></div>
        <% }); %>
    <% } %>
</div>    
<form action="/users/step3" method="post">
    <input type="hidden" name="id" value="<%= id %>">
    <input type="text" name="token" required>
    <input type="submit" value="Check Code">
</form>
<%- include('partials/footer') -%>